.space1 {
    padding-top: 40px;
}

.space2 {
    padding-top: 10px;
}

.ui-title {
    padding: 20px;
    font-family: arial;
    color: white;
    font-size: 40px;
    text-align: center;
    background-color: #e28743;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 30%;
}

.ui-image {
    text-align: center;
}

.ia {
    font-family: arial;
    color: rgb(114, 114, 114);
    font-size: 25px;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
}

.ia-image {
    box-sizing: border-box;
    padding-right: 120px;
    float: left;
}

.ia-dsc {
    box-sizing: border-box;
    float: right;
}