.space1 {
    padding-top: 40px;
}

.space2 {
    padding-top: 10px;
}

.kvp-title {
    padding: 20px;
    font-family: arial;
    color: white;
    font-size: 40px;
    text-align: center;
    background-color: #e28743;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 30%;
}

.kvp {
    font-family: arial;
    color: rgb(114, 114, 114);
    font-size: 25px;
    text-align: justify;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 10px;
}

.kvp-image {
    text-align: center;
    padding-bottom: 80px;
}

.empathy-title {
    padding: 20px;
    font-family: arial;
    color: white;
    font-size: 40px;
    text-align: center;
    background-color: #e28743;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 20%;
}

.empathy {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}